.paper-input-wrapper {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
}
.paper-input-wrapper > .input-label,
.paper-input-wrapper > .input-hint,
.paper-input-wrapper > input{
    height: 32px;
    line-height: 32px;
}
.paper-input-wrapper > .input-label,
.paper-input-wrapper > .input-hint {
    position: absolute;
    left: 0;
    -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease, color 0.3s ease;
    transition: transform 0.3s ease, opacity 0.3s ease, color 0.3s ease;
}
.paper-input-wrapper > .input-label {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
}
.paper-input-wrapper > .input-label.floated {
    -webkit-transform: scale(0.99) translateY(-32px);
    -ms-transform: scale(0.99) translateY(-32px);
    transform: scale(0.99) translateY(-32px);
}
.paper-input-wrapper > .input-hint {
    visibility: hidden;
    opacity: 0;
    top: 64px;
}
.paper-input-wrapper > .input-hint.active {
    visibility: visible;
    opacity: 1;
}
.paper-input-wrapper > input {
    position: relative;
    font-size: 20px;
    z-index: 1;
    padding-left: 0;
}
.paper-input-wrapper.invalid > .input-label,
.paper-input-wrapper.invalid > .input-hint,
.paper-input-wrapper.invalid > input {
    color: red;
}
.paper-input-wrapper.invalid > input {
    border-color: red;
}


/* flat input */
.paper-input-wrapper > input{
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid;
}
.flat-input {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid;
}
